body{
    text-align: center;
    font-family: 'Happy Monkey',cursive;
    /*background-color:#a2d2ff ;*/
    color:white;
    background: linear-gradient(#a2d2ff,#efb0c9);
}
h1,h2,h4{
     text-shadow:0 0 1px black;
}
#img-age{
    background-color: #efb0c9;
    padding:5px 10px;
    border-radius: 5px; 
    margin: 5px 0 10px 0;

}
#img-date{
    margin:0;
    background-color: #efb0c9;
    padding:5px 10px;
    border-radius: 5px; 
}
#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border:6px solid #efb0c9;
}
.gift-section{
    margin:50px 0 0 0;
}
.gift-title{
    margin-bottom:10px 0 10px 0;
}
.gift-hint{
    margin-bottom:10px;
}
.gift-img{
    background-image: url('gift-cover.jpg');
    background-size: cover;
    width: 400px;
    height:400px;
    border:6px solid white;
    border-radius: 5px;
    margin:0 auto;
}
#gift1:hover{
 background-image:url('Happy_Dance.gif');
}
#gift2:hover{
 background-image:url('reaccc.gif');
}
#footer{
    font-style: italic;
    width:400px;
    margin:40px auto 20px;
}